---
let {dades} = Astro.props;
---
<div class="plat-container">
    
    <h2>{dades.nom}</h2>
    <h3>{dades.telefon}</h3>
    <h3><strong>Email:</strong>{dades.email}</h3>
    <h3><strong>Fecha:</strong>{dades.data}</h3>
    <h3><strong>Comentario:</strong>{dades.comentari}</h3>

</div>